/* ======= База кнопки ======= */
.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    border-radius: var(--radius);
    font-weight: 500;
    cursor: pointer;
    transition: var(--transition);
    border: 2px solid transparent;
}

/* ======= Основная кнопка ======= */
.btn-primary {
    background: var(--primary);
    color: white;
    box-shadow: var(--shadow);
}

.btn-primary:hover {
    background: var(--primary-hover);
    transform: translateY(-2px);
}

/* ======= Второстепенная кнопка ======= */
.btn-secondary {
    background: var(--primary-light);
    color: var(--primary);
}

.btn-secondary:hover {
    background: var(--primary-light-hover);
    transform: translateY(-2px);
}

/* ======= Опасные кнопки ======= */
.btn-danger {
    justify-self: start;
    background: var(--error);
    color: white;
}

.btn-danger:hover {
    background: var(--error-hover);
    transform: translateY(-2px);
}

/* ======= Кнопка добавления ======= */
.add-bottom-btn {
    width: 100%;
    justify-content: center;
}

/* ======= Кнопка удаления картинки ======= */
.remove-image-btn {
    position: absolute;
    top: -12px;
    right: -12px;
    background: var(--error);
    color: white;
    border: none;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: var(--transition);
    z-index: 1;
}

.remove-image-btn:hover {
    transform: scale(1.1);
}

/* ======= Анимация кнопки копирования ======= */
.btn-copied {
    background: var(--primary-light-hover);
}

/* ======= Сообщения об ошибках ======= */
.error-message {
    margin: .5rem 0;
    color: var(--error)
}