.content{
    padding-top: 120px;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 110px;
}

.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

.test-list__wrap{
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: -15px;
    margin-right: -15px;
}

@media (max-width: 991px) {
    .test-list-wrap {
        padding-top: 10px;
    }
}

.test-list__item-container{
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.test-list__test {
    display: flex;
    width: 100%;
    position: relative;
    height: 100px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-bottom: 25px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.test-list__test:hover {
    box-shadow: 8px 14px 21px rgba(163, 172, 181, 0.23);
    transform: translateY(-3px);
}

.test-list__text {
    padding-left: 124px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.test-list__title {
    display: block;
    font-weight: 400;
    color: #5e5d73;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2;
    width: 100%;
}