<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <!-- styles -->
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/default.css">
    <link rel="stylesheet" href="../static/css/content.css">
</head>
<body>
    <nav class="top-nav">
        <div class="container-fluid">
            <div class="top-row">
                <a href="/" class="logo"></a>
                <a href="/create-test" class="create-test-btn">Создать тест</a>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="container">
            <div class="test-list header">
                <div>
                    <h1>Тесты онлайн</h1>
                    <h3>Гога - тесты от Бога</h3>
                </div>
            </div>
            <div class="test-list">
                <div class="test-list__wrap">
                    <div class="ajax-list">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="../static/js/tests-list.js"></script>
</body>
</html>