<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav.css') }}">
</head>
<body>
    <header class="header-container">
        <nav class="top-nav">
            <div class="container-fluid">
                <div class="top-row">
                    <a href="main-page.html" class="logo">Какой ты князь?</a>
                    <a href="create-test.html">Создать тест</a>
                </div>
            </div>
        </nav>
    </header>
    <h1>Какой ты князь?</h1>
    <p>Самый обычный сайт для создания и прохождения тестов</p>

    <!-- Список тестов -->
    <section id="take-section">
        <h2>Список тестов</h2>
        <div id="quizList"></div>
    </section>

    <script src="../static/js/add-quiz.js"></script>
</body>
</html>